<h1><%= @current_user.handle %></h1>
<% days = (@current_user.created_at.to_datetime - Date.today).to_i %>
<p>User for <%= days %> day<%= "s" if days != 1 %>!</p>
<img src=<%= @current_user.avatar_url %> />
