<% @page_title = "List of Rooms -- STUPID NAME FIX PLEASE" %>

<% if @rooms.length > 0 %>
<h2>Public Rooms</h2>
<ul>
  <% @rooms.each do |room| %>
  <% if not room.unlisted %>
  <li><%= link_to room.topic, room %> -- <%= room.user.handle %></li>
  <% end %>
  <% end %>
</ul>
<% else %>
<p>No rooms found. :(</p>
<% end %>
